.imgProduct{
    overflow: hidden;
}

/*.imgProduct img{
    display: block;
    padding: 2rem 2rem;
    background: #1762ad41;
}*/

.imgProduct img:hover{
    transition: .3s all ease;
    opacity: .8;
    transform: scale(1.1,1.1);
}

.badgeNew{
    background: #F0Ad4E !important;
    color: #fff !important;    
}